@charset "UTF-8";

/* mobile first */
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body{
    background-color: #943A84;
    width: 100vw;
    height: 100vh;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

div#imagem{
        display: block;
        background:url(../imagens/pattern.jpg)no-repeat;
        background-size: cover;
        background-position: left bottom;
        width: 300px;
        height: 150px;
     
}

section#login {
    position: absolute;
    background-color: white;
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow:0px 0px 3px rgba(0, 0, 0, 0.404) ;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: width.4s , height .4s;
    transition-timing-function: ease;

}
div#formulario {
    display: block;
}
div#formulario h1, p {
    padding: 10px;
    background-color:#5D9491;
    color: whitesmoke;

}
div#formulario h1 {
    text-align: center;
}
div#formulario p {
    font-size: 0.8em;
    margin-top: -1px;
    margin-bottom: 5px;
    text-align: justify;
    text-indent: 10px;
}


span#login ,#senha{
    color: white;
    
    
    
}
form > div.campo{
    display: block;
    width: 100%;
    height: 35px;
    background-color:#65E0D9;
    border-radius: 7px;
}

input.formul:hover {
    background-color: #943A84;
    border: 1px solid white;
    
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color:#65E0D9 ;
    color: #612c58;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    
} 
form > input[type=submit]:hover {
    background-color:#33706d ;
    color: white;
}

form a#botao {
    display: block;
    text-align: center;
    background-color:white;
    color: black;
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #65E0D9;


}
form a#botao:hover {
    background-color: #31504e;
    color: whitesmoke;
}